*.log
/app/Config/database.php

!/app/tmp
/app/tmp/*
!/app/tmp/.gitkeep

!/app/tmp/cache
/app/tmp/cache/*
!/app/tmp/cache/.gitkeep

!/app/tmp/cache/models
/app/tmp/cache/models/*
!/app/tmp/cache/models/.gitkeep

!/app/tmp/cache/persistent
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/.gitkeep

!/app/tmp/cache/views
/app/tmp/cache/views/*
!/app/tmp/cache/views/.gitkeep

/app/tmp/logs
!/app/tmp/logs/.gitkeep

/app/tmp/sessions
!/app/tmp/sessions/.gitkeep

/app/tmp/tests
!/app/tmp/tests/.gitkeep

